/* 自定义的 CSS 样式 */

/* 调色板颜色 */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #2e303e;
}

/* 外链加上小箭头 */
.md-content a[target="_blank"]:not(.md-content__button):not(.md-author):not(:has(img)), .md-tabs__link[target="_blank"] {
    background: url('data: image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDdCRkYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMTggMTN2NmEyIDIgMCAwIDEtMiAySDUuMDAxYTIgMiAwIDAgMS0yLTJWOGEyIDIgMCAwIDEgMi0yaDZaIi8+PHBvbHlsaW5lIHBvaW50cz0iMTUgMyAyMSAzIDIxIDkiLz48bGluZSB4MT0iMTAiIHkxPSIxNCIgeDI9IjIxIiB5Mj0iMyIvPjwvc3ZnPg==') center right no-repeat;
    padding-right: 13px;
    margin-left: 3px;
    margin-right: 3px;
}

/* 解决超长字符串无法换行的问题 */
.md-typeset {
    overflow-wrap: break-word;
}

/* 解决 KaTeX 表格在移动端的尾部有异常空白的问题 */
.md-typeset__table {
    /* position: sticky; */
    position: relative;
}
